@model IEnumerable<CardonCodingExercise.Models.Qualification>

@{
    ViewBag.Title = "Qualifications Index";
}

<h2>Qualifications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Candidate.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualificationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStarted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Candidate.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualificationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStarted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCompleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QualificationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QualificationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QualificationID })
        </td>
    </tr>
}

</table>
